#heading{
    font-size: 50px;
}

input[type="text"]{
    
    font-size: 25px;
}
 
#subjects { 
    margin-top: 8em;
    gap:2em;
}

.subjectName {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:1em;
    margin-bottom: 2em;
}
  
#add {
    display: block; 
    width: max-content; 
    padding: 15px 30px; 
    background-color: #3e94db;
    color: white; 
    font-size: 26px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#add:hover {
    background-color: rgb(30, 71, 146);
}

#add:active {
    transform: scale(0.95); 
}
